server:
  port: 8080

app:
  jwt:
    secret: "${APP_JWT_SECRET:4a0efa73ee27ab4b2ecaa6955ea9c0d33a72281eb78c4addc6a83238e53c6114}"
    expiration-minutes: 120

spring:
  main:
    lazy-initialization: true
  sql:
    init:
      mode: never
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql-371d9e95-juan-11e2.k.aivencloud.com:10266/defaultdb?serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:avnadmin}
    password: ${SPRING_DATASOURCE_PASSWORD:AVNS_0TuBHQim2U0p9ByQOFK}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initialization-fail-timeout: -1
      minimum-idle: 0
      maximum-pool-size: 5
      connection-timeout: 2000
      validation-timeout: 2000
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        hbm2ddl:
          auto: none
        boot:
          allow_jdbc_metadata_access: false

  data:
    jpa:
      repositories:
        bootstrap-mode: deferred

springdoc:
  swagger-ui:
    path: /docs/
    enabled: true
    doc-expansion: none
    tags-sorter: alpha
  api-docs:
    path: /docs/api-docs
    enabled: true
    
  

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
